@font-face {
  font-family: 'universe';
  src: url("../fonts/2943AD_0_0.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/2943AD_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2943AD_0_0.woff") format("woff"), url("../fonts/2943AD_0_0.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'universe';
  src: url("../fonts/2943AD_1_0.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/2943AD_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2943AD_1_0.woff") format("woff"), url("../fonts/2943AD_1_0.ttf") format("truetype");
  font-weight: bold;
}
.heartImages {
  display: none;
}

canvas {
  position: absolute;
}

.container {
  position: relative;
  width: 1366px;
  margin: 0 auto;
}

#tweetCount {
  top: 100px;
  left: 480px;
}

#reachCount {
  top: 260px;
  left: 480px;
}

#lastFive {
  top: 150px;
  left: 800px;
}

#highTweet {
  top: 40px;
  left: 800px;
}

#lastUpdate {
  top: 505px;
  left: 800px;
}

#heartBeat {
  top: 130px;
  left: 50px;
}

#chart {
  top: 490px;
  left: 30px;
}

#twitterFeed {
  border: solid 2px black;
  right: 0;
}
