@font-face {
  font-family: 'universe';
  src: url("../fonts/2943AD_0_0.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/2943AD_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2943AD_0_0.woff") format("woff"), url("../fonts/2943AD_0_0.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'universe';
  src: url("../fonts/2943AD_1_0.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/2943AD_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2943AD_1_0.woff") format("woff"), url("../fonts/2943AD_1_0.ttf") format("truetype");
  font-weight: bold;
}
canvas {
  position: absolute;
}

.container {
  position: relative;
  width: 1366px;
  margin: 0 auto;
}

#tweetCount {
  top: 100px;
  left: 480px;
}

#reachCount {
  top: 260px;
  left: 480px;
}

#lastFive {
  top: 150px;
  left: 820px;
}

#highTweet {
  top: 40px;
  left: 820px;
}

#lastUpdate {
  top: 510px;
  left: 820px;
}
