@font-face {
  font-family: 'universe';
  src: url('../fonts/2943AD_0_0.eot'); /* IE9 Compat Modes */
  src: url('../fonts/2943AD_0_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/2943AD_0_0.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/2943AD_0_0.ttf')  format('truetype'), /* Safari, Android, iOS */;
       font-weight: normal;

}

@font-face {
  font-family: 'universe';
  src: url('../fonts/2943AD_1_0.eot'); /* IE9 Compat Modes */
  src: url('../fonts/2943AD_1_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/2943AD_1_0.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/2943AD_1_0.ttf')  format('truetype'), /* Safari, Android, iOS */;
       font-weight: bold;
}
