.heartImages{
    display: none;
}
canvas{
    position: absolute;
}
.container{
    position: relative;
    width: 1366px;
    margin: 0 auto;
}
#tweetCount{
    top: 110px;
    left: 480px;
}
#reachCount{
    top: 270px;
    left: 480px;
}
#lastFive{
    top: 160px;
    left: 800px;
}
#highTweet{
    top: 30px;
    left: 800px;
}
#lastUpdate{
    top: 505px;
    left: 800px;
}
#heartBeat{
    top: 130px;
    left: 50px;
}
#chart{
    top: 480px;
    bottom: 0px;
    left: 0px;
}
#twitterFeed{
    right: -10px;
    position: relative;
    float: right;
   
}