canvas{
    position: absolute;
}
.container{
    position: relative;
    width: 1366px;
    margin: 0 auto;
}
#tweetCount{
    top: 100px;
    left: 480px;
}
#reachCount{
    top: 260px;
    left: 480px;
}
#lastFive{
    top: 150px;
    left: 820px;
}
#highTweet{
    top: 40px;
    left: 820px;
}
#lastUpdate{
    top: 510px;
    left: 820px;
}